h1, h2, h3, p {
    text-align: center;
    color: blueviolet;
}


body{
    background-color: black;
}


nav{
    background-color: blueviolet;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
}