/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                      Scrollbar
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body::-webkit-scrollbar{
    width: 0.4rem;
}
body::-webkit-scrollbar-track{
    background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
    background: rgb(129, 17, 234);
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

h1, h2, h3, p {
    text-align: center;
    color: white;
}


body{
    background-color: black;
    text-align: center;
    height: 1000px;
}


nav{
    background-color: blueviolet;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
}

nav li{
    display: inline;
    margin-right: 25px;
}

nav a{ 
    color: white;
    font-size:1.5em;
}

nav a:hover{
    color: greenyellow;
    text-decoration: none;
  }